/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-[#A100FE];
  @apply font-medium;
  @apply focus:outline-none
         focus:ring-4
         focus:ring-[#A100FE]
         focus:ring-offset-2
         focus:ring-offset-transparent;
}

.gradient-text,
.gradient-text1,
.gradient-text2 {
  @apply text-[#A100FE];
  @apply font-semibold;
}

.gradient-text3 {
  @apply bg-clip-text text-transparent;
  background-image: linear-gradient(
    180deg,
    #1a1a1a,
    #121212,
    #0b0b0b
  );
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
}

#scroll-root {
  will-change: transform;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}