/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-[color:var(--color-primary)];
  @apply focus:outline-none
         focus:ring-2
         focus:ring-[color:var(--color-primary)]
         focus:ring-offset-2
         focus:ring-offset-transparent;
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-violet-400 via-purple-500 to-indigo-500;
}

.gradient-text1 {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-purple-500 via-violet-600 to-indigo-600;
}

.gradient-text2 {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-br from-fuchsia-400 via-violet-500 to-purple-600;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
}

#scroll-root {
  will-change: transform;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}