/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-[color:var(--color-primary)];
  @apply font-medium;
  @apply focus:outline-none
         focus:ring-4
         focus:ring-[color:var(--color-primary)]
         focus:ring-offset-2
         focus:ring-offset-transparent;
}

/* Solid, THICK purple accents */
.gradient-text,
.gradient-text1,
.gradient-text2 {
  @apply text-[color:var(--color-primary)];
  @apply font-semibold;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
}

#scroll-root {
  will-change: transform;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}